@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- This is the home page and this is how you create a comment in html-->

<a href="GetProducts"> Get Products </a> <br />
<a href="GetCategories"> Get Categories </a> <br />
<a href="GetSuppliers"> Get Suppliers </a> <br />
<a href="GetEmployees"> Get Employees </a> <br />
<a href="GetOrderDetails"> Get Order Details </a> <br />

<a href="InsertAProductForm"> Insert A Product </a> <br />
<a href="InsertAEmployeeForm"> Insert A Employee </a> <br />
<a href="InsertASupplierForm"> Insert A Supplier </a> <br />
<a href="InsertAOrderDetailForm"> Insert A Order Detail </a> <br />