@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="InsertASupplier" method="Post">

    Company Name <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="companyName" /> <br />

    Contact Name <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="contactName" /> <br />

    Contact Title <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="contactTitle" /> <br />

    Address <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="address" /> <br />

    City <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="city" /> <br />

    Region <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="region" /> <br />

    Postal Code <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="postalCode" /> <br />

    Country <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="country" /> <br />

    Phone <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="phone" /> <br />

    Fax <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="fax" /> <br />

    Home Page URL <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="homePage" /> <br />



    <input type="submit" /> <input type="reset" />



</form>