@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2> Insert a New Employee </h2>

<form action="InsertAEmployee" method="Post">

    Last Name <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="lastName" /> <br />

    First Name <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="firstName" /> <br />

    Title <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="title" /> <br />

    Title of Courtesy <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="titleOfCourtesy" /> <br />

    Birth Date <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="birthDate" /> <br />

    Hire Date <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="hireDate" /> <br />

    Address <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="address" /> <br />

    City <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="city" /> <br />

    Region <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="region" /> <br />

    Postal Code <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="postalCode" /> <br />

    Country <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="country" /> <br />

    Home Phone Number <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="homePhone" /> <br />

    Extension <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="extension" /> <br />

    Notes for Employee <br />
    <input type="text" id="this is for js1" class="this is for your css1" name="notes" /> <br />

    Reports To
    <input type="text" id="this is for js1" class="this is for your css1" name="reportsTo" />


    <input type="submit" /> <input type="reset" />

</form>